body {
    background-color: rgb(233, 142, 142);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    flex: 1; /* Allow the wrapper to grow and take remaining space */
}

/*Footer Control Bar*/
footer {
    width: calc(100% - 24px);
    background-color: rgb(74, 11, 11);
    height: 140px;
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    bottom: 0;
}

/*Side Navigation Bar*/
#sidebar {
    background-color: rgb(74, 11, 11);
    width: 200px;
    height: calc(100% - 36px - 140px);
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; /* This centers the image horizontally */
   }

#sidebar img {
    padding-top: 20px;
    max-width: 75%; /* This ensures the image scales down if it is larger than the sidebar */
    max-height: 75%; /* This ensures the image scales down if it is larger than the sidebar */
    width: auto; /* This allows the image to scale down proportionally */
    height: auto; /* This allows the image to scale down proportionally */
}

/*Explore Button*/
#ex {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#ex:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Forum Button*/
#fo {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#fo:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Profile Button*/
#pr {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#pr:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Sign Up Button*/
#signup {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#signup:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

#pagehead {
    font-family: "Arial Rounded MT Bold";
    color: rgb(74, 11, 11);;
    font-size: 80px;
    position: absolute;
    margin-top: 12px;
    margin-left: 224px;
}

#search {
    position: absolute;
    height: 46px;
    width: calc(100% - 248px);
    margin-top: calc(80px + 48px);
    margin-left: 224px;
    border-radius: 24px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    outline: none;
}
