body {
    background-color: rgb(233, 142, 142);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    flex: 1; /* Allow the wrapper to grow and take remaining space */
}

/*Footer Control Bar*/
footer {
    width: calc(100% - 24px);
    background-color: rgb(74, 11, 11);
    height: 140px;
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    bottom: 0;
    display: flex;
}

#playing{
width: 25% ;
}

#soundbar{
    width: 75%;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lskip {margin-top: 20px; margin-right: 10%; width: 40px; height: 40px;}
#rskip {margin-top: 20px; margin-left: 10%; width: 40px; height: 40px;}
#playbutton {margin-top: 20px;  width: 60px; height: 60px;}

#timeline{
    position: absolute;
    background-color: white;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    bottom: 20px;
    left: 62.5%; /* Adjust the left position to 40% to center within the right 60% */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

#playhead{
    height: 16px;
    width: 16px;
    background-color: rgb(233, 142, 142);
    border-radius: 16px;
    margin-left: 45%;
}

#timeelapse{color: white; position: absolute; font-family: "Arial Rounded MT Bold"; left: -50px;}
#timeremain{color: white; position: absolute; font-family: "Arial Rounded MT Bold"; right: -50px;}

#playing{
    display: flex;
    align-items: center;
}

#songinfo{
    color: white;
    font-family: "Arial Rounded MT Bold";  
    font-size: 16px;
    margin-left: calc(10% + 30px);
}

#coverart{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin-left: 10%;
}

/*Side Navigation Bar*/
#sidebar {
    background-color: rgb(74, 11, 11);
    width: 200px;
    height: calc(100% - 36px - 140px);
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
   }

#sidebar img {
    padding-top: 20px;
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
}

/*Explore Button*/
#ex {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#ex:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Forum Button*/
#fo {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#fo:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Profile Button*/
#pr {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#pr:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Sign Up Button*/
#signup {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#signup:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

#pagehead {
    font-family: "Arial Rounded MT Bold";
    color: rgb(74, 11, 11);;
    font-size: 80px;
    position: absolute;
    margin-top: 12px;
    margin-left: 224px;
}

#search {
    position: absolute;
    height: 46px;
    width: calc(100% - 248px);
    margin-top: calc(80px + 48px);
    margin-left: 224px;
    border-radius: 24px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    outline: none;
}

/* Forum CSS */

h2
{
    color:rgb(74, 11, 11);
    margin-left:7px;
}

#forum-container 
{
    position: absolute;
    width: calc(100% - 248px);
    margin-top: calc(80px + 48px);
    margin-left: 224px;
    border-radius: 24px;
    font-family: "Arial Rounded MT Bold";

}

#input-section 
{
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

#messages-section 
{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form 
{
    margin-top: 10px;
}

label 
{
    font-family: "Arial Rounded MT Bold";
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea 
{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] 
{
    background-color: rgb(73,11,11);
    font-family: "Arial Rounded MT Bold";
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover 
{
    background-color: rgb(128, 11, 11);
}

#messages-container 
{
    margin-bottom: 10px;
    background-color:rgb(73,11,11);
    color: white;
    border-radius: 4px;
    position: absolute;
    width: calc(100% - 248px);
    height: calc(100% - 580px);
    max-height: calc(100% - 580px);
    margin-top: calc(80px + 330px);
    margin-left: 224px;
    border-radius: 24px;
    overflow-y: auto
}

#messages p {
    margin-bottom: 10px;
}

.default-message {
    font-family: "Arial Rounded MT Bold";
    margin-left: 10px;
}

#messages
{
    color: white;
    margin-left: 10px;
    font-family: "Arial Rounded MT Bold";
}

/* Profile CSS */

h1
{
    margin-top: calc(80px + 48px);
    margin-left: 230px;
    font-family: "Arial Rounded MT Bold";
    position: absolute;
}

h2
{
    margin-top: calc(80px + 40px);
    margin-left: 500px;
    font-family: "Arial Rounded MT Bold";
    position: relative;
}

#profile-picture
{
    max-width: 160px;
    max-height: 160px;
    margin-top: calc(2px + 40px);
    margin-left: 260px;
    border-radius: 24px;
    position: absolute;
    z-index: 1;
}

p1
{
    color:white;
    position: absolute;
    z-index: 3;
    top: 400px;
    margin-left: 240px;
    font-family: "Arial Rounded MT Bold";
}

#profile-container 
{
    position: absolute;
    background-color:rgb(73,11,11);
    color: white;
    border-radius: 4px;
    width: 230;
    height: 442;
    margin-left: 230px;
    margin-bottom: calc(442px- 140px);
    border-radius: 24px;
    overflow-y: auto
}

#playlist-container 
{
    margin-bottom: 10px;
    background-color:rgb(73,11,11);
    border-radius: 4px;
    width: 930;
    height: 442;
    margin-left: 500px;
    margin-top: 0px;
    border-radius: 24px;
    overflow-y: auto
}

/* Profile CSS */

h1
{
    margin-top: calc(80px + 48px);
    margin-left: 230px;
    font-family: "Arial Rounded MT Bold";
}

.playlist
{
    margin-top: calc(80px + 48px);
    margin-left: calc(40%);
    font-family: "Arial Rounded MT Bold";
}

#profile-picture
{
    max-width: 160px;
    max-height: 160px;
    margin-top: calc(2px + 190px);
    margin-left: 300px;
    border-radius: 24px;
    z-index: 1;
}

.p1
{
    color:white;
    z-index: 3;
    top: 400px;
    margin-left: 240px;
    font-family: "Arial Rounded MT Bold";
}

#profile-container 
{
    margin-bottom: 1%;
    background-color: rgb(73, 11, 11);
    border-radius: 4px;
    width: calc(23% - 20px);
    height: 460px;
    margin-top: 170px;
    margin-left: 224px;
    border-radius: 24px;
    overflow-y: auto;
}

#playlist-container 
{
    margin-bottom: 1%;
    background-color: rgb(73, 11, 11);
    border-radius: 4px;
    width: calc(60% - 20px);
    height: 460px;
    margin-left: calc(40%);
    margin-top: 170px;
    border-radius: 24px;
    overflow-y: auto;
}

.playlist-one
{
    /* css things */
}

