body {
    background-color: rgb(233, 142, 142);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    flex: 1; /* Allow the wrapper to grow and take remaining space */
}

/*Footer Control Bar*/
footer {
    width: calc(100% - 24px);
    background-color: rgb(74, 11, 11);
    height: 140px;
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    bottom: 0;
    display: flex;
}

#playing{
width: 25% ;
}

#soundbar{
    width: 75%;
    text-align: center;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lskip {margin-top: 20px; margin-right: 10%; width: 40px; height: 40px;}
#rskip {margin-top: 20px; margin-left: 10%; width: 40px; height: 40px;}
#playbutton {margin-top: 20px;  width: 60px; height: 60px;}

#timeline{
    position: absolute;
    background-color: white;
    height: 10px;
    width: 60%;
    border-radius: 10px;
    bottom: 20px;
    left: 62.5%; /* Adjust the left position to 40% to center within the right 60% */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

#playhead{
    height: 16px;
    width: 16px;
    background-color: rgb(233, 142, 142);
    border-radius: 16px;
    margin-left: 45%;
}

#timeelapse{color: white; position: absolute; font-family: "Arial Rounded MT Bold"; left: -50px;}
#timeremain{color: white; position: absolute; font-family: "Arial Rounded MT Bold"; right: -50px;}

#playing{
    display: flex;
    align-items: center;
}

#songinfo{
    color: white;
    font-family: "Arial Rounded MT Bold";  
    font-size: 16px;
    margin-left: calc(10% + 30px);
}

#coverart{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin-left: 10%;
}

/*Side Navigation Bar*/
#sidebar {
    background-color: rgb(74, 11, 11);
    width: 200px;
    height: calc(100% - 36px - 140px);
    border-radius: 20px;
    margin: 12px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
   }

#sidebar img {
    padding-top: 20px;
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
}

/*Explore Button*/
#ex {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#ex:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Forum Button*/
#fo {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#fo:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Profile Button*/
#pr {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#pr:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

/*Sign Up Button*/
#signup {
    padding: 15px 10px 15px 10px;
    margin: 12px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: rgb(233, 142, 142);
    cursor: pointer;
}
#signup:hover {
    background-color: rgba(255, 255, 255);
    color: rgb(74, 11, 11);
}

#pagehead {
    font-family: "Arial Rounded MT Bold";
    color: rgb(74, 11, 11);;
    font-size: 80px;
    position: absolute;
    margin-top: 12px;
    margin-left: 224px;
}

#search {
    position: absolute;
    height: 46px;
    width: calc(100% - 248px);
    margin-top: calc(80px + 48px);
    margin-left: 224px;
    border-radius: 24px;
    font-family: "Arial Rounded MT Bold";
    font-size: 20px;
    outline: none;
}
