body {
    background-color: rgb(20, 20, 40);
    width: 100%;
    margin: 0;
    padding: 0
}
header {
    padding: 10px;
    text-align: center;
    background: rgb(40, 40, 80);
    color: white;
    font-family: arial;
    font-size: 30px;
}
.navigation {
    padding: 16px;
    text-align: center;
    background: rgba(40, 40, 80);
}
  /* Navigations Buttons */
a {
    display: inline;
    color: #000;
    padding: 10px 10%;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: arial;
    border-radius: 2px;
  }
  /* Change the link color on hover */
a:hover {
    background-color: rgb(100, 100, 200);
    color: black;
  }
